*,
*:before,
*:after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.h1 {
    color: #9db0d1;
    font-size: 60px;
    line-height: 66px;
    font-family: 'Arapey';
    padding: 100px 0 50px 0 ;
    text-align: center;
  

}
  .textEnd {
   color: #FFFFFF;
   font-family: Arapey;
   font-size: 40px;
   line-height: 44px;
   text-align: start;
   width: 600px;
   height: 132px;
   margin: 0 0 50px 0;
   padding: 70px 0 0 120px ;
}
h4 {
  font-family: Verdana,sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 1024px;
  margin: 0 auto 50px auto;
}


.h4end{
  font-family: 'Verdana';
   width: 600px;
   height: 73px;
   font-size: 20px;
   line-height: 24px;
   text-align: start;
   padding: 70px 0 50px 120px ;
   margin: 0 0 50px 0;
 
}
.buttom{
    background: #EBAC87;
    color: #FFFFFF;
    font-family: 'Arapey';
    border: 0;
    font-size: 30px;
    line-height: 32px;
    border-radius: 10px;
    padding: 24px 50px;
    text-transform: uppercase;
    margin: 0 auto 50px auto;
    display: block;

}
.buttom2{
    background: #FFFFFF;
    border: 0;
    border-radius: 10px;
    padding: 24px 50px;
    text-transform: uppercase;
}
.container {
    background: #87C6EB;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1200px;
}

.container .box {
    margin: 0 75px 0 0;
    background: #FFFFFF;
    flex: 0 1 300px;
}
.bg{
    background: #87C6EB;
}
.containerEnd {
  background: #87C6EB;
  background:url("../img/photo04.png") bottom right/ auto 475px  no-repeat;
  min-height: 475px;
  width: 1440px;
  margin: 0 auto ;


}

.circle1 {
  background: rgba(235, 172, 135, 0.4);
  border-radius: 50px;
  border: 0;
  width: 60px;
  height: 60px;
  padding: 20px 12px ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
   font-family: 'Verdana';
   font-size: 30px;
  line-height: 36px;
  margin: 0 0 10px 0;

}
.circle2 {
  background: rgba(235, 172, 135, 0.6);
  border-radius: 50px;
  border: 0;
  width: 60px;
  height: 60px;
  padding: 20px 12px ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
   font-family: 'Verdana';
   font-size: 30px;
  line-height: 36px;
  margin: 0 0 10px 0;

}
.circle3 {
  background: rgba(235, 172, 135, 0.6);
  border-radius: 50px;
  border: 0;
  width: 60px;
  height: 60px;
  padding: 20px 12px ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
   font-family: 'Verdana';
   font-size: 30px;
  line-height: 36px;
  margin: 0 0 10px 0;

}

.image {
  width: 310px;
  height: 310px;
  background: #EBAC87;
}

.image img {
  width: 100%;
}
.box{
  width: 350px;
  height: 560px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px 90px 20px 20px ;

}

.text {
  width: 260px;
  height: 120px;
  font-family: 'Verdana';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 0 0 0px;
}
.text strong {
  font-weight: bold;
}

.bullet {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #9DB0D1;
  display: flex;
  justify-content: center;
  align-items: center;

 }

.cont{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 1200px;
  padding: 50px 0 0 0 ;


}
.textin {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Verdana';
  color: #000000;
  align-items: center;
  display: flex;
  margin: 0 auto;
}


.caption {
  background:url("../img/bg-cloud.png") repeat-x top / auto 200px,
  linear-gradient(180deg, rgba(135, 198, 235, 0) 8.33%, #87C6EB 93.06%);
  padding: 250px 120px 100px;
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}
.row{
  display: flex;
  justify-content: space-between;
  
}
.container1 {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.buttom2{
  font-family: 'Arapey';
  font-size: 30px;
  line-height: 32px;
  color: #EBAC87;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px 50px;
  gap: 10px;
  margin: 50px 0 50px 120px;

}
.fag{
  background: #EBAC87;
  border-radius: 50px;
  border: 0;
  width: 80px;
  height: 80px;
  padding: 24px 3px ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
   font-family: 'Verdana';
   font-size: 60px;
  line-height: 73px;
  margin: 50px 120px 50px 0;
}

.buttom3{
  font-family: 'Arapey';
  background: #EBAC87;
  color: #FFFFFF;
  border: 0;
  font-size: 30px;
line-height: 32px;
  border-radius: 10px;
  padding: 24px 50px;
 text-transform: uppercase;

 
}
.row2 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 1200px;
  align-items: center;
  padding: 50px 0 50px 0;
}
.social a {
  text-decoration:none ;
  margin: 0 0 0 32px;
}